.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.Header {
  background-color:white;
}

.Main-part {
  background-color: #f7f7f9 ;
  padding: 70px;
  
  
}

.Second-part {
  background-color: white;
  padding: 30px;
  
 
  
}

.Buttons {
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
  align-items: center;
}

.Step-2 {
  background-color: white;
  padding: 30px;
}

.consult {
  background-color:  white;
  padding: 30px;
  
}

.phone {
  color: 
  blue ;
}

.Lista {
  list-style: none;
  justify-content: center;
}


.Footer {
  bottom: 0;
  position: sticky;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
